<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{common/layouts/shop_pc_main}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
  </head>
  <body>

    <th:block layout:fragment="content">
      zzz : [[${host}]]
      <th:block th:text="${userSession}"></th:block>

    </th:block>
  </body>
</html>
