<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/shop_pc_main}"
>
  <th:block layout:fragment="content">

  <style>
    .qnb{position:absolute;top:-1111px;left:-15px;display:none;}
    .s_price{z-index: 999;position:relative;}
    .s_price img{vertical-align:top;display:block;}
    .s_price span{display:block;}
    .s_price .bn_toolman{width:110px;/*height:191px;*/}
    .s_price .bn_toolman a{position:fixed;bottom:-240px;transition:bottom .4s cubic-bezier(0.895, -0.600, 0.125, 1.650);}
    .s_price .bn_toolman.show a{bottom:-5px;}
</style>
 <script>
  var D1 = 1;
   var D2 = 1;
   var D3 = 1;
   var D4 = 1;
   var D5 = 1;
   var D6 = 1;
   
  $(function(){ 
    $('.pro_list01, .pro_list02, .item_list_border, .item_list_content01, .recommend_con_Type02').addClass('mItem');
    
    $('.mItem').on('mouseover', function() {
            $(this).addClass('mOn');
    });
    $('.mItem').on('mouseout', function() {
            $(this).removeClass('mOn');
    });
    $('.recommend_content1').on('mouseover', function() {
            $('.' + $(this).data('type') +'_nav').show();
    });			
    $('.recommend_content1').on('mouseout', function() {
            $('.' + $(this).data('type') +'_nav').hide();
    });			
    $('.recommend_con_Type03_1, .recommend_con_Type03').on('mouseover', function() {
            $(this).addClass('mOn');
            $('#off_' + $(this).attr('id')).hide();
            $('#on_' + $(this).attr('id')).show();
    });			
    $('.recommend_con_Type03_1, .recommend_con_Type03').on('mouseout', function() {
            $(this).removeClass('mOn');
            $('#off_' + $(this).attr('id')).show();
            $('#on_' + $(this).attr('id')).hide();
    });			
    //각 품목 상세 설명화면 이동
    $('.NOW, .main_pro01, .main_pro02_space01, .item_list_content, .item_list_content01, .item_list_content02, .recommend_con_Type02').on('click', function(){ 
      _BT.actFormSubmit('frm', 'post', _BT.SHOP.URL.Search.View+'?pCode='+$(this).data('type')); 
    });
    //카테고리별 상세검색 화면 이동
    $('.item_title').on('click', function(){  
      $('#cCode').val($(this).data('type'));
      _BT.actFormSubmit('frm', 'GET', _BT.SHOP.URL.Search.CtgList); 
    });			
    //각 프로모션 상품 상세검색 화면이동
    $('.bnImg').on('click', function(){  
      var type = $(this).data('type');
      var value = $(this).data('value');
      if(type == 'MCB'){
        $('#pCode').val(value);
        _BT.actFormSubmit('frm', 'post',_BT.SHOP.URL.Helpdesk.CtgPromoDtl); 
      }else if(type == 'MSB'){
        var value2 = $(this).data('value2');
        if(!_BT.isEmpty(value)){
          $('#pCode').val(value);
          _BT.actFormSubmit('frm', 'post', _BT.SHOP.URL.Helpdesk.PromoDtl); 
        }else if(!_BT.isEmpty(value2)){
          _BT.moveUrl(_BT.SHOP.URL.Helpdesk.Notice+"?bId="+value2);
        }
      }else if(type == 'TMR'){
        _BT.actFormSubmit("tmFrm", "POST",_BT.SHOP.URL.Search.mSearch); 
      }
    });
    //대화의 발견 상세 페이지 이동
    $('.recommend_con_Type03_1, .recommend_con_Type03').on('click', function(){ 
      var value = $(this).data('value');
      var type = $(this).data('type');
      if(value == ''){
        $('#pCode').val(type);
        _BT.actFormSubmit('frm', 'post',_BT.SHOP.URL.Helpdesk.CtgPromoDtl); 
      }else{
        _BT.actFormSubmit('frm', 'post', _BT.SHOP.URL.Search.View+'?pCode='+value); 
      }
    });			
    $( '.leftDiv' ).on('click', function(){  
      var divBox = $(this).data('type');
      var cur = $('.' + divBox +'.vBlock').data('value');
      $('.' + divBox + '.vBlock').removeClass('vBlock'); 
      $('.' + divBox + '_p').removeClass('on');
      if($('#'+ divBox +'_' + ( eval($(this).data('value')) + cur )).length == 0){
        $('.'+divBox).last().addClass('vBlock'); 
        $('.'+divBox+'_p').last().addClass('on');
      }else{
        $('#'+ divBox +'_' + ( eval($(this).data('value')) + cur ) ).addClass('vBlock');
        $('#'+divBox+'_p'+'_'+( eval($(this).data('value')) + cur )).addClass('on');
      }
    });			
    $( '.rightDiv' ).on('click', function(){
      var divBox = $(this).data('type');
      var cur = $('.' + divBox +'.vBlock').data('value');
      $('.' + divBox +'.vBlock').removeClass('vBlock'); 
      $('.' + divBox + '_p').removeClass('on');
      if($('#'+ divBox +'_' + ( eval($(this).data('value')) + cur )).length == 0){
        $('#'+ divBox +'_1').addClass('vBlock');
        $('#'+divBox+'_p_1').addClass('on');
      }else{
        $('#'+ divBox +'_' + ( eval($(this).data('value')) + cur )).addClass('vBlock');
        $('#'+divBox+'_p'+'_'+( eval($(this).data('value')) + cur )).addClass('on');
      }
    });		
    
    $( '.rightPage' ).on('click', function(){  
      var divBox = $(this).data('type');
      var cur = $('.' + divBox +'.vBlock').data('value');
      $('.' + divBox + '.vBlock').removeClass('vBlock'); 
      $('.' + divBox + '_p').removeClass('on');
      if($('#'+ divBox +'_' + ( eval($(this).data('value')) + cur )).length == 0){
        $('.'+divBox).last().addClass('vBlock'); 
        $('.'+divBox+'_p').last().addClass('on');
      }else{
        $('#'+ divBox +'_' + ( eval($(this).data('value')) + cur ) ).addClass('vBlock');
        $('#'+divBox+'_p'+'_'+( eval($(this).data('value')) + cur )).addClass('on');
      }
    });			
    $( '.leftPage' ).on('click', function(){
      var divBox = $(this).data('type');
      var cur = $('.' + divBox +'.vBlock').data('value');
      $('.' + divBox +'.vBlock').removeClass('vBlock'); 
      $('.' + divBox + '_p').removeClass('on');
      if($('#'+ divBox +'_' + ( eval($(this).data('value')) + cur )).length == 0){
        $('#'+ divBox +'_1').addClass('vBlock');
        $('#'+divBox+'_p_1').addClass('on');
      }else{
        $('#'+ divBox +'_' + ( eval($(this).data('value')) + cur )).addClass('vBlock');
        $('#'+divBox+'_p'+'_'+( eval($(this).data('value')) + cur )).addClass('on');
      }
    });	


    $( '.maxPage' ).on('click', function(){  
      var divBox = $(this).data('type');

      $('.' + divBox + '.vBlock').removeClass('vBlock'); 
      $('.' + divBox + '_p').removeClass('on');
      $('.'+divBox).last().addClass('vBlock'); 
      $('.'+divBox+'_p').last().addClass('on');

    });			
    $( '.firstPage' ).on('click', function(){
      var divBox = $(this).data('type');

      $('.' + divBox +'.vBlock').removeClass('vBlock'); 
      $('.' + divBox + '_p').removeClass('on');
      $('#'+ divBox +'_1').addClass('vBlock');
      $('#'+divBox+'_p_1').addClass('on');
    });	


    $('.pageing2 span label').on('click', function(){
      var cur = this.innerText * 1;
      var divBox = this.closest('.recommend_content1').dataset.type;
      
      $('.' + divBox +'.vBlock').removeClass('vBlock'); 
      $('.' + divBox + '_p').removeClass('on');
      

      document.getElementById(divBox + '_' + cur).classList.add('vBlock');
      document.getElementById(divBox + '_p_' + cur).classList.add('on');


      switch(divBox) {
        case 'D1':
          D1 = cur;
          break;
        case 'D2':
          D2 = cur;
          break;
        case 'D3':
          D3 = cur;
          break;
        case 'D4':
          D4 = cur;
          break;
        case 'D5':
          D5 = cur;
          break;
        case 'D6':
          D6 = cur;
          break;
      }
    });

    checkPopAlram();
  });
  
  function checkPopAlram(){
    _BT.ajaxDataSubmit("post", _BT.SHOP.URL.Helpdesk.PopList, {}, function(data) {
      if($(data).size() > 0) {
        if(_BT.isEquals(data.code, "success")) {
          var d = new Date();
          var ymd = d.getFullYear() + (d.getMonth()<9?'0':'') + (d.getMonth() + 1) + (d.getMonth()<10?'0':'')  + d.getDate();
          var noMr = true;
          var noList = '';
          if(_BT.isEquals(ymd,_BT.Cookie.get('noMr')))  {
            noMr = false;
            noList = _BT.Cookie.get('noMrList'); 
          }
          for(var i=0; i< data.list.length; i++){
            var id = data.list[i].ARTICLE_ID;  
            if(noList.indexOf(id) < 0 ){ 
              var t = 'PopAlarm' + id;
              var x = data.list[i].CONTENT.split('@')[0];
              var y = 83 + parseInt(data.list[i].CONTENT.split('@')[1]);					
              $('#P_ID').val(data.list[i].ARTICLE_ID);			
              $('#P_IMG').val(data.list[i].DETAIL_IMG);				
              $('#P_TITLE').val(data.list[i].TITLE);				
              _BT.openPopup('', t, x, y, 'no', 'no');					
              $('#popupFrm').attr('method', 'POST').attr('target', t).attr('action', _BT.SHOP.URL.Helpdesk.PopMsg).submit();		
            }
          }
        }
      }
    },
    function(xhr, status, error) {
    });
  }		
</script>
<div class="wid_no_chg">
  <form id="popupFrm" name="popupFrm">
    <input type="hidden" id="P_ID" name="P_ID" value=""/>
    <input type="hidden" id="P_IMG" name="P_IMG" value=""/>
    <input type="hidden" id="P_TITLE" name="P_TITLE" value=""/>
  </form>
  <form id="tmFrm" name="tmFrm">
    <input type="hidden" name="mValue" value="#툴맨추천"/>
  </form>
  <form id="frm" name="frm">
    <input type="hidden" id="sValue" name="sValue" />
    <input type="hidden" id="pCode" name="pCode" />
    <input type="hidden" id="cCode" name="cCode" />
  </form>

  <div class="main_visual" th:with="TS_SDT='A', TS_EDT='A'">
    <div class="Type01 cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> a" data-cycle-pager=".rolling_pager" style="overflow: hidden;">
      <!-- <a href="javascript:;" class="img01 bnImg" data-type="MSB" data-value="" data-value2="1000138"> -->
      <a href="javascript:;" class="img01 bnImg" data-type="" data-value="" data-value2="1000138">
        <img src="/img/banner/main_img01.png" alt="메인비쥬얼" />
      </a>

      <th:block th:each="mBn : ${banners}">
        <th:block th:if="${mBn.bTp == 'MSB'}">
          <a href="javascript:;" class="img01 bnImg" th:data-type="${mBn.bTp}" th:data-value="${mBn.pId}" th:data-value2="${mBn.sRelNo}">
            <img th:src="${'/upload'+mBn.bImg}" alt="메인비쥬얼" />
          </a>
        </th:block>

        <th:block th:if="${mBn.bTp == 'TSP'}">
          <th:block th:text="${#temporals.format(mBn.sDt, 'yyyyMMddHHmmss')}"></th:block>
          <th:block th:text="${#temporals.format(mBn.eDt, 'yyyyMMddHHmmss')}"></th:block>
        </th:block>
      </th:block>
			
      <div class="rolling_pager" style="margin-top: -30px; text-align: right;"></div>
    </div>

  </div>

  <th:block th:if="${#lists.size(mdPprdt.tsp) > 0}">
    <div class="item_title2" style="width:100%; height:50px;vertical-align: middle;display: inline-block;">
      <span style="display: inline-block;width:95px;font-size: 22px;padding-left:10px;">
        타임세일
      </span>
      <th:block th:if="${TS_EDT != 'A'}">
        <span style="color: #000000;font-size: 14px;display: inline-block;width: 400px; padding-left:10px;">
          &nbsp;&nbsp;|&nbsp;&nbsp;기간한정 특가상품!!&nbsp;&nbsp;
          (&nbsp;<th:block th:text="${#temporals.format(TS_SDT, 'yyyy.MM.dd')}"></th:block>&nbsp;~&nbsp;
          <th:block th:text="${#temporals.format(TS_EDT, 'yyyy.MM.dd')}"></th:block>&nbsp;)
        </span>
      </th:block>	
    </div>
    <div class="main_content03" style="margin-top:10px;">
	
      <div class="main_list01" style="padding-left: 10px;">
        <th:block th:if="${#lists.size(mdPprdt.tsp) > 5}">
          <div class="leftDiv md_nav" data-type="md"  data-value="-1" style="margin:90px 0 0 -18px;">
            <img src="/img/common/left.png" alt="left"  />
          </div>
          <div class="rightDiv md_nav" data-type="md"  data-value="+1" style="margin:90px  0 0 1220px;">
            <img src="/img/common/right.png" alt="right">
          </div>
        </th:block>

        <!-- <th:block th:each="prdt1 : ${mdPprdt.tsp}">
          <th:block th:if="${prdt1Stat.first}">
            <div class="md vBlock" data-type="md"  th:data-value="data-value=${prdt1Stat.index + 1}" id ="md_" th:attrappend="id='${prdt1Stat.index + 1}'" style="display: none;">
          </th:block>
          <div class="recommend_con_Type02 type02_product mg_10" th:data-type="data-type=${prdt1.sPcd}" style="height:265px">
            <th:block th:if="${prdt1.sSprice} == 0 or ${TS_EDT} == 'A'">
              <img src="/img/common/end_sale.png" alt="end_sale" style="z-index: 300;position: absolute;"/>
            </th:block>
            <div class="recommend_con_img01" style="overflow: hidden;">
              <img th:src="/upload${prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/> 
            </div>
            <div class="recommend_con_txt01 txt01_product">
              <h2 class="title01">
                <span>
                  <th:block th:text="${prdt1.sNm}">
                  </th:block>
                </span>
              </h2>
              <h3 class="txt01">
                <span style="height: 22px;overflow:hidden;">
                  <th:block th:text="${prdt1.sSt}"> &nbsp;
                  </th:block>
                </span>
              </h3>
              <label class="maker">
                <span>
                  <th:block th:text="${prdt1.sMk}">
                  </th:block>
                </span>
              </label>
              <span class="price01">
                <span style="font-weight:bold;font-size: 20px;">
                  <th:block th:switch="${prdt1.sSprice}">
                    <th:block th:case="'0'">
                      판매완료
                    </th:block>
                    <th:block th:case="*">
                      <th:block th:text="${#numbers.formatInteger(prdt1.sSprice, 3, 'COMMA') + '원'}"></th:block>
                    </th:block>
                  </th:block>			
                </span>
              </span>
              <h2 class="title01" style="margin-top:5px;text-decoration: line-through;color:#b71c1c;">
                <span style="text-align:left;color:#000000;font-size: 15px;height:15px;">
                  <th:block th:text="${#numbers.formatInteger(prdt1.sSprice, 3, 'COMMA') + '원'}"></th:block>
                </span>
              </h2>
            </div>
          </div>
          <th:block th:if="${prdt1Stat.last}">
            </div>
          </th:block>

           <c:if test="${status.count % 5 eq '0' and divCnt lt cnt }">
            <c:set var="divCnt" value="${divCnt + 1}" />
            </div>
            <div class="md" data-type="md"  data-value="${divCnt}" id ="md_${divCnt}" style="display: none;">
          </c:if> 
        </th:block> -->

      </div>
    </div>
  </th:block>

  <div class="item_title2" style="width:100%; height:50px;vertical-align: middle;display: inline-block;">
    <span style="display: inline-block;width:auto;font-size: 22px;padding-left:10px;">
      대화의 발견
    </span>
    <span style="color: #000000;font-size: 14px;display: inline-block;width: 400px; padding-left:10px;">
      &nbsp;&nbsp;|&nbsp;&nbsp;대화가 엄선한 요즘뜨는 HOT한 상품!!
    </span>
  </div>
  <div class="main_content01" style="margin-bottom:0px;">
	
    <c:set var="isFirst" value="0" />
    <div class="recommend_content margintop_20 paddingleft_5">

      <th:block th:each="STF : ${banners}">
        <th:block th:if="${STF.bTp == 'STF'}">
          <th:block th:switch="${STFStat.index}">
            <th:block th:case="'0'">
              <div class="recommend_con_Type03_1 marginright_10" th:data-type="${STF.pId}" th:data-value="${STF.pPrdtCd}" id="se_" th:attrappend="id=${STFStat.index}" >
              <div class="recommend_con_img02" style="width: 471px;overflow: hidden;padding:4px 8px;">
                <img th:src="${'/upload'+STF.bImg}" style="width: 471px;height:310px;"  th:alt="${STF.bTit}" onerror="this.src='/img/sample03.jpg'"/> 
              </div>
            </th:block>
            <th:block th:case="*">
              <div class="recommend_con_Type03" th:classappend="${STFStat.index} != 3 and ${STFStat.index} != 8? ' marginright_10':''"  th:data-type="${STF.pId}" th:data-value="${STF.pPrdtCd}" id="se_" th:attrappend="id=${STFStat.index}">
                <div class="recommend_con_img02" style="width: 238px; overflow: hidden; padding:4px 0; ">
                <img th:src="/upload${STF.bImg}" style="width: 230px; height:310px;"  th:alt="${STF.bTit}" onerror="this.src='/img/sample03.jpg'"/> 
              </div>
            </th:block>
          </th:block>
          <div class="recommend_con_txt02">
            <span class="title" id="off_se_" th:attrappend="id=${STFStat.index}">
               &gt;
            </span>
            <span class="title2" id="on_se_" th:attrappend="id=${STFStat.index}" style="display: none;">
              <th:block th:text="${STF.bTit}"></th:block> &gt;
            </span>
          </div>
        </th:block>
      </th:block>

    </div>
  </div>
   <div class="qnb">
    <div class="s_price">
      <span class="bn_toolman">
        <a href="javascript:;" class="img01 bnImg" data-type="TMR" data-value="toolman" data-value2="" style="position: fixed;">
          <img src="/img/common/toolman_click.png" alt="툴맨추천" style="max-width: 160px; height: auto;">
        </a>
      </span>
    </div>
    <script type="text/javascript">	
        $(document).ready(function(){
          setTimeout(function(){$(".qnb .bn_toolman").addClass("show");},1500);
          var leftSlide = {
            stayBanner : function($element, margin) {
              try{
                if($element.offset().top < window.innerHeight){
                  $(".qnb .bn_toolman").removeClass("show");
                }else{
                  $(".qnb .bn_toolman").addClass("show");
                }
                if($element.offset().top + $element.height()	>= $('#footer').offset().top - 30) {
                  $element.css({
                    'position': 'absolute',
                    'top': $('#footer').offset().top - ($('.s_price').offset().top + $element.height() + margin)
                  });
                }
                if($(document).scrollTop() + $(window).height() < $('#footer').offset().top) {
                  $element.css({'position': 'fixed', 'top': ''});
                }
              }catch(e){}
            },
            loadBanner : function() {
              leftSlide.stayBanner($(".qnb .bn_toolman a"), 20);
            }
          };
          $(window).on('scroll resize', function(){
            leftSlide.loadBanner();
          });
        });
    </script>
  </div>	 
  <div class="ad_content01">
    <img src="/img/ad/ad_img001.jpg" alt="광고배너" />
  </div>
  <div class="item_title2" style="width:100%; height:50px;vertical-align: middle;display: flex; justify-content: center;">
    <span style="display: inline-block;width:auto;font-size: 22px;padding-left:10px;">
      카테고리별 기획상품
    </span>
  </div>
  <div class="main_content01" style="margin-bottom:10px;" >
	
    <div class="main_list02 mBox1">
      <div class="item_title2" data-type="D1">
        <span>
          직결나사
        </span>
      </div>
      
      <div class="item_title3" data-type="D1">

        <div class="Type01 cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> a" data-cycle-pager=".rolling_ball_D1" data-cycle-pager-template="">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D1'}">
              <a href="javascript:;" class="img01 bnImg" th:data-type="${cBn.bTp}" th:data-value="${cBn.pId}">
                <img th:src="${'/upload'+cBn.bImg}" width="320px;" height="600px;">
              </a>
            </th:block>
          </th:block>
        </div>

        <div class="caption">
          <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> strong" data-cycle-pager=".rolling_ball_D1" data-cycle-pager-template="">
            <th:block th:each="cBn : ${banners}">
              <th:block th:if="${cBn.pCd == 'D1'}">
                <strong class="promotion-title">
                  <th:block th:text="${cBn.bTit}"></th:block>
                  <span class="promotion-description" th:text="${cBn.bCon}"></span>
                </strong>	
              </th:block>
            </th:block>
          </div>
        </div>

        <div class="rolling_ball_D1 rolling_ball">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D1'}">
              <span></span>
            </th:block>
          </th:block>
        </div>
      </div>

      <div class="recommend_content1 margintop_20 marginleft_20" data-type="D1">

        
        <div class="D1 vBlock" data-type="D1" th:data-value="1" id="D1_1" style="display: none;">
          <th:block th:each="prdt1 : ${mdPprdt.D1}">

            <th:block th:if="${prdt1Stat.index lt 4}">

              <div class="recommend_con_Type02 type02_product mg_10" th:data-type="${prdt1.sPcd}">
                <div class="recommend_con_img01" style="overflow: hidden;">
                  <th:block th:if="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                  <th:block th:unless="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${'/upload'+prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                </div>
                <div class="recommend_con_txt01 txt01_product">
                  <h2 class="title01" >
                    <span>
                      <th:block th:text="${prdt1.sNm}"></th:block>
                    </span>
                  </h2>
                  <h3 class="txt01" >
                    <span style="height: 22px;overflow:hidden;">
                      <th:block th:if="${prdt1.sScd > 1}" th:text="${prdt1.sScd + 개 상품}"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="${prdt1.sSt}"></th:block>&nbsp;
                    </span>
                  </h3>
                  <label class="maker">
                    <span>
                      <th:block th:text="${prdt1.sMk}"></th:block>
                    </span>
                  </label>
                  <span class="price01">
                    <span>
                      <th:block th:text="${#numbers.formatInteger(prdt1.sPrice, 3, 'COMMA')}"></th:block>
                      <th:block th:if="${prdt1.sScd > 1}" th:text="원 ~"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="원"></th:block>&nbsp;
                    </span>
                  </span>
                </div>

              </div>
            </th:block>


          </th:block>
        </div>


        <!-- <div class="pageing2">
          <span>
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/ltlt.png" class="firstPage" data-type="D1">
              <img src="/img/common/lt.png" class="leftPage" data-type="D1">
            </c:if>
            
            <c:forEach begin="1" end="${cnt}" varStatus="status">
              <label class="D1_p <c:if test="${status.first}"> on</c:if>" data-value="${status.count}" id="D1_p_${status.count}"> ${status.count}</label>
            </c:forEach>
            
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/rt.png" class="rightPage" data-type="D1">
              <img src="/img/common/rtrt.png" class="maxPage" data-type="D1">
            </c:if>

          </span>
        </div> -->
      </div>
    </div><!-- <div class="main_list02 mBox1"> -->

    <div class="main_list02 mBox1">
      <div class="item_title2" data-type="D2">
        <span>
          고내식성<br>직결나사
        </span>
      </div>
      
      <div class="item_title3" data-type="D2">

        <div class="Type01 cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> a" data-cycle-pager=".rolling_ball_D2" data-cycle-pager-template="">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D2'}">
              <a href="javascript:;" class="img01 bnImg" th:data-type="${cBn.bTp}" th:data-value="${cBn.pId}">
                <img th:src="${'/upload'+cBn.bImg}" width="320px;" height="600px;">
              </a>
            </th:block>
          </th:block>
        </div>

        <div class="caption">
          <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> strong" data-cycle-pager=".rolling_ball_D2" data-cycle-pager-template="">
            <th:block th:each="cBn : ${banners}">
              <th:block th:if="${cBn.pCd == 'D2'}">
                <strong class="promotion-title">
                  <th:block th:text="${cBn.bTit}"></th:block>
                  <span class="promotion-description" th:text="${cBn.bCon}"></span>
                </strong>	
              </th:block>
            </th:block>
          </div>
        </div>

        <div class="rolling_ball_D2 rolling_ball">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D2'}">
              <span></span>
            </th:block>
          </th:block>
        </div>
      </div>

      <div class="recommend_content1 margintop_20 marginleft_20" data-type="D2">

        
        <div class="D2 vBlock" data-type="D2" th:data-value="1" id="D2_1" style="display: none;">
          <th:block th:each="prdt1 : ${mdPprdt.D2}">

            <th:block th:if="${prdt1Stat.index lt 4}">

              <div class="recommend_con_Type02 type02_product mg_10" th:data-type="${prdt1.sPcd}">
                <div class="recommend_con_img01" style="overflow: hidden;">
                  <th:block th:if="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                  <th:block th:unless="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${'/upload'+prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                </div>
                <div class="recommend_con_txt01 txt01_product">
                  <h2 class="title01" >
                    <span>
                      <th:block th:text="${prdt1.sNm}"></th:block>
                    </span>
                  </h2>
                  <h3 class="txt01" >
                    <span style="height: 22px;overflow:hidden;">
                      <th:block th:if="${prdt1.sScd > 1}" th:text="${prdt1.sScd + 개 상품}"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="${prdt1.sSt}"></th:block>&nbsp;
                    </span>
                  </h3>
                  <label class="maker">
                    <span>
                      <th:block th:text="${prdt1.sMk}"></th:block>
                    </span>
                  </label>
                  <span class="price01">
                    <span>
                      <th:block th:text="${#numbers.formatInteger(prdt1.sPrice, 3, 'COMMA')}"></th:block>
                      <th:block th:if="${prdt1.sScd > 1}" th:text="원 ~"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="원"></th:block>&nbsp;
                    </span>
                  </span>
                </div>

              </div>
            </th:block>


          </th:block>
        </div>


        <!-- <div class="pageing2">
          <span>
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/ltlt.png" class="firstPage" data-type="D2">
              <img src="/img/common/lt.png" class="leftPage" data-type="D2">
            </c:if>
            
            <c:forEach begin="1" end="${cnt}" varStatus="status">
              <label class="D2_p <c:if test="${status.first}"> on</c:if>" data-value="${status.count}" id="D2_p_${status.count}"> ${status.count}</label>
            </c:forEach>
            
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/rt.png" class="rightPage" data-type="D2">
              <img src="/img/common/rtrt.png" class="maxPage" data-type="D2">
            </c:if>

          </span>
        </div> -->
      </div>
    </div><!-- <div class="main_list02 mBox1"> -->

    <div class="main_list02 mBox1">
      <div class="item_title2" data-type="D3">
        <span>
          스텐나사
        </span>
      </div>
      
      <div class="item_title3" data-type="D3">

        <div class="Type01 cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> a" data-cycle-pager=".rolling_ball_D3" data-cycle-pager-template="">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D3'}">
              <a href="javascript:;" class="img01 bnImg" th:data-type="${cBn.bTp}" th:data-value="${cBn.pId}">
                <img th:src="${'/upload'+cBn.bImg}" width="320px;" height="600px;">
              </a>
            </th:block>
          </th:block>
        </div>

        <div class="caption">
          <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> strong" data-cycle-pager=".rolling_ball_D3" data-cycle-pager-template="">
            <th:block th:each="cBn : ${banners}">
              <th:block th:if="${cBn.pCd == 'D3'}">
                <strong class="promotion-title">
                  <th:block th:text="${cBn.bTit}"></th:block>
                  <span class="promotion-description" th:text="${cBn.bCon}"></span>
                </strong>	
              </th:block>
            </th:block>
          </div>
        </div>

        <div class="rolling_ball_D3 rolling_ball">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D3'}">
              <span></span>
            </th:block>
          </th:block>
        </div>
      </div>

      <div class="recommend_content1 margintop_20 marginleft_20" data-type="D3">

        
        <div class="D3 vBlock" data-type="D3" th:data-value="1" id="D3_1" style="display: none;">
          <th:block th:each="prdt1 : ${mdPprdt.D3}">

            <th:block th:if="${prdt1Stat.index lt 4}">

              <div class="recommend_con_Type02 type02_product mg_10" th:data-type="${prdt1.sPcd}">
                <div class="recommend_con_img01" style="overflow: hidden;">
                  <th:block th:if="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                  <th:block th:unless="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${'/upload'+prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                </div>
                <div class="recommend_con_txt01 txt01_product">
                  <h2 class="title01" >
                    <span>
                      <th:block th:text="${prdt1.sNm}"></th:block>
                    </span>
                  </h2>
                  <h3 class="txt01" >
                    <span style="height: 22px;overflow:hidden;">
                      <th:block th:if="${prdt1.sScd > 1}" th:text="${prdt1.sScd + 개 상품}"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="${prdt1.sSt}"></th:block>&nbsp;
                    </span>
                  </h3>
                  <label class="maker">
                    <span>
                      <th:block th:text="${prdt1.sMk}"></th:block>
                    </span>
                  </label>
                  <span class="price01">
                    <span>
                      <th:block th:text="${#numbers.formatInteger(prdt1.sPrice, 3, 'COMMA')}"></th:block>
                      <th:block th:if="${prdt1.sScd > 1}" th:text="원 ~"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="원"></th:block>&nbsp;
                    </span>
                  </span>
                </div>

              </div>
            </th:block>


          </th:block>
        </div>


        <!-- <div class="pageing2">
          <span>
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/ltlt.png" class="firstPage" data-type="D3">
              <img src="/img/common/lt.png" class="leftPage" data-type="D3">
            </c:if>
            
            <c:forEach begin="1" end="${cnt}" varStatus="status">
              <label class="D3_p <c:if test="${status.first}"> on</c:if>" data-value="${status.count}" id="D3_p_${status.count}"> ${status.count}</label>
            </c:forEach>
            
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/rt.png" class="rightPage" data-type="D3">
              <img src="/img/common/rtrt.png" class="maxPage" data-type="D3">
            </c:if>

          </span>
        </div> -->
      </div>
    </div><!-- <div class="main_list02 mBox1"> -->

    <div class="main_list02 mBox1">
      <div class="item_title2" data-type="D4">
        <span>
          TYPE17®
        </span>
      </div>
      
      <div class="item_title3" data-type="D4">

        <div class="Type01 cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> a" data-cycle-pager=".rolling_ball_D4" data-cycle-pager-template="">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D4'}">
              <a href="javascript:;" class="img01 bnImg" th:data-type="${cBn.bTp}" th:data-value="${cBn.pId}">
                <img th:src="${'/upload'+cBn.bImg}" width="320px;" height="600px;">
              </a>
            </th:block>
          </th:block>
        </div>

        <div class="caption">
          <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> strong" data-cycle-pager=".rolling_ball_D4" data-cycle-pager-template="">
            <th:block th:each="cBn : ${banners}">
              <th:block th:if="${cBn.pCd == 'D4'}">
                <strong class="promotion-title">
                  <th:block th:text="${cBn.bTit}"></th:block>
                  <span class="promotion-description" th:text="${cBn.bCon}"></span>
                </strong>	
              </th:block>
            </th:block>
          </div>
        </div>

        <div class="rolling_ball_D4 rolling_ball">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D4'}">
              <span></span>
            </th:block>
          </th:block>
        </div>
      </div>

      <div class="recommend_content1 margintop_20 marginleft_20" data-type="D4">

        
        <div class="D4 vBlock" data-type="D4" th:data-value="1" id="D4_1" style="display: none;">
          <th:block th:each="prdt1 : ${mdPprdt.D4}">

            <th:block th:if="${prdt1Stat.index lt 4}">

              <div class="recommend_con_Type02 type02_product mg_10" th:data-type="${prdt1.sPcd}">
                <div class="recommend_con_img01" style="overflow: hidden;">
                  <th:block th:if="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                  <th:block th:unless="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${'/upload'+prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                </div>
                <div class="recommend_con_txt01 txt01_product">
                  <h2 class="title01" >
                    <span>
                      <th:block th:text="${prdt1.sNm}"></th:block>
                    </span>
                  </h2>
                  <h3 class="txt01" >
                    <span style="height: 22px;overflow:hidden;">
                      <th:block th:if="${prdt1.sScd > 1}" th:text="${prdt1.sScd + 개 상품}"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="${prdt1.sSt}"></th:block>&nbsp;
                    </span>
                  </h3>
                  <label class="maker">
                    <span>
                      <th:block th:text="${prdt1.sMk}"></th:block>
                    </span>
                  </label>
                  <span class="price01">
                    <span>
                      <th:block th:text="${#numbers.formatInteger(prdt1.sPrice, 3, 'COMMA')}"></th:block>
                      <th:block th:if="${prdt1.sScd > 1}" th:text="원 ~"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="원"></th:block>&nbsp;
                    </span>
                  </span>
                </div>

              </div>
            </th:block>


          </th:block>
        </div>


        <!-- <div class="pageing2">
          <span>
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/ltlt.png" class="firstPage" data-type="D4">
              <img src="/img/common/lt.png" class="leftPage" data-type="D4">
            </c:if>
            
            <c:forEach begin="1" end="${cnt}" varStatus="status">
              <label class="D4_p <c:if test="${status.first}"> on</c:if>" data-value="${status.count}" id="D4_p_${status.count}"> ${status.count}</label>
            </c:forEach>
            
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/rt.png" class="rightPage" data-type="D4">
              <img src="/img/common/rtrt.png" class="maxPage" data-type="D4">
            </c:if>

          </span>
        </div> -->
      </div>
    </div><!-- <div class="main_list02 mBox1"> -->

    <div class="main_list02 mBox1">
      <div class="item_title2" data-type="D5">
        <span>
          블라인드<br>리벳
        </span>
      </div>
      
      <div class="item_title3" data-type="D5">

        <div class="Type01 cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> a" data-cycle-pager=".rolling_ball_D5" data-cycle-pager-template="">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D5'}">
              <a href="javascript:;" class="img01 bnImg" th:data-type="${cBn.bTp}" th:data-value="${cBn.pId}">
                <img th:src="${'/upload'+cBn.bImg}" width="320px;" height="600px;">
              </a>
            </th:block>
          </th:block>
        </div>

        <div class="caption">
          <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> strong" data-cycle-pager=".rolling_ball_D5" data-cycle-pager-template="">
            <th:block th:each="cBn : ${banners}">
              <th:block th:if="${cBn.pCd == 'D5'}">
                <strong class="promotion-title">
                  <th:block th:text="${cBn.bTit}"></th:block>
                  <span class="promotion-description" th:text="${cBn.bCon}"></span>
                </strong>	
              </th:block>
            </th:block>
          </div>
        </div>

        <div class="rolling_ball_D5 rolling_ball">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D5'}">
              <span></span>
            </th:block>
          </th:block>
        </div>
      </div>

      <div class="recommend_content1 margintop_20 marginleft_20" data-type="D5">

        
        <div class="D5 vBlock" data-type="D5" th:data-value="1" id="D5_1" style="display: none;">
          <th:block th:each="prdt1 : ${mdPprdt.D5}">

            <th:block th:if="${prdt1Stat.index lt 4}">

              <div class="recommend_con_Type02 type02_product mg_10" th:data-type="${prdt1.sPcd}">
                <div class="recommend_con_img01" style="overflow: hidden;">
                  <th:block th:if="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                  <th:block th:unless="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${'/upload'+prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                </div>
                <div class="recommend_con_txt01 txt01_product">
                  <h2 class="title01" >
                    <span>
                      <th:block th:text="${prdt1.sNm}"></th:block>
                    </span>
                  </h2>
                  <h3 class="txt01" >
                    <span style="height: 22px;overflow:hidden;">
                      <th:block th:if="${prdt1.sScd > 1}" th:text="${prdt1.sScd + 개 상품}"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="${prdt1.sSt}"></th:block>&nbsp;
                    </span>
                  </h3>
                  <label class="maker">
                    <span>
                      <th:block th:text="${prdt1.sMk}"></th:block>
                    </span>
                  </label>
                  <span class="price01">
                    <span>
                      <th:block th:text="${#numbers.formatInteger(prdt1.sPrice, 3, 'COMMA')}"></th:block>
                      <th:block th:if="${prdt1.sScd > 1}" th:text="원 ~"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="원"></th:block>&nbsp;
                    </span>
                  </span>
                </div>

              </div>
            </th:block>


          </th:block>
        </div>


        <!-- <div class="pageing2">
          <span>
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/ltlt.png" class="firstPage" data-type="D5">
              <img src="/img/common/lt.png" class="leftPage" data-type="D5">
            </c:if>
            
            <c:forEach begin="1" end="${cnt}" varStatus="status">
              <label class="D5_p <c:if test="${status.first}"> on</c:if>" data-value="${status.count}" id="D5_p_${status.count}"> ${status.count}</label>
            </c:forEach>
            
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/rt.png" class="rightPage" data-type="D5">
              <img src="/img/common/rtrt.png" class="maxPage" data-type="D5">
            </c:if>

          </span>
        </div> -->
      </div>
    </div><!-- <div class="main_list02 mBox1"> -->

    <div class="main_list02 mBox1">
      <div class="item_title2" data-type="D6">
        <span>
          태핑나사 등
        </span>
      </div>
      
      <div class="item_title3" data-type="D6">

        <div class="Type01 cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> a" data-cycle-pager=".rolling_ball_D6" data-cycle-pager-template="">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D6'}">
              <a href="javascript:;" class="img01 bnImg" th:data-type="${cBn.bTp}" th:data-value="${cBn.pId}">
                <img th:src="${'/upload'+cBn.bImg}" width="320px;" height="600px;">
              </a>
            </th:block>
          </th:block>
        </div>

        <div class="caption">
          <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> strong" data-cycle-pager=".rolling_ball_D6" data-cycle-pager-template="">
            <th:block th:each="cBn : ${banners}">
              <th:block th:if="${cBn.pCd == 'D6'}">
                <strong class="promotion-title">
                  <th:block th:text="${cBn.bTit}"></th:block>
                  <span class="promotion-description" th:text="${cBn.bCon}"></span>
                </strong>	
              </th:block>
            </th:block>
          </div>
        </div>

        <div class="rolling_ball_D6 rolling_ball">
          <th:block th:each="cBn : ${banners}">
            <th:block th:if="${cBn.pCd == 'D6'}">
              <span></span>
            </th:block>
          </th:block>
        </div>
      </div>

      <div class="recommend_content1 margintop_20 marginleft_20" data-type="D6">

        
        <div class="D6 vBlock" data-type="D6" th:data-value="1" id="D6_1" style="display: none;">
          <th:block th:each="prdt1 : ${mdPprdt.D6}">

            <th:block th:if="${prdt1Stat.index lt 4}">

              <div class="recommend_con_Type02 type02_product mg_10" th:data-type="${prdt1.sPcd}">
                <div class="recommend_con_img01" style="overflow: hidden;">
                  <th:block th:if="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                  <th:block th:unless="${#strings.indexOf(prdt1.sImg, '//') >= 0}">
                    <img th:src="${'/upload'+prdt1.sImg}" style="width:auto; max-width: 281px;height:281px;"  alt="샘플사진" onerror="this.src='/img/sample03.jpg'"/>
                  </th:block>
                </div>
                <div class="recommend_con_txt01 txt01_product">
                  <h2 class="title01" >
                    <span>
                      <th:block th:text="${prdt1.sNm}"></th:block>
                    </span>
                  </h2>
                  <h3 class="txt01" >
                    <span style="height: 22px;overflow:hidden;">
                      <th:block th:if="${prdt1.sScd > 1}" th:text="${prdt1.sScd + 개 상품}"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="${prdt1.sSt}"></th:block>&nbsp;
                    </span>
                  </h3>
                  <label class="maker">
                    <span>
                      <th:block th:text="${prdt1.sMk}"></th:block>
                    </span>
                  </label>
                  <span class="price01">
                    <span>
                      <th:block th:text="${#numbers.formatInteger(prdt1.sPrice, 3, 'COMMA')}"></th:block>
                      <th:block th:if="${prdt1.sScd > 1}" th:text="원 ~"></th:block>
                      <th:block th:unless="${prdt1.sScd > 1}" th:text="원"></th:block>&nbsp;
                    </span>
                  </span>
                </div>

              </div>
            </th:block>


          </th:block>
        </div>


        <!-- <div class="pageing2">
          <span>
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/ltlt.png" class="firstPage" data-type="D6">
              <img src="/img/common/lt.png" class="leftPage" data-type="D6">
            </c:if>
            
            <c:forEach begin="1" end="${cnt}" varStatus="status">
              <label class="D6_p <c:if test="${status.first}"> on</c:if>" data-value="${status.count}" id="D6_p_${status.count}"> ${status.count}</label>
            </c:forEach>
            
            <c:if test="${cnt > 0 and status.count ne 1}">
              <img src="/img/common/rt.png" class="rightPage" data-type="D6">
              <img src="/img/common/rtrt.png" class="maxPage" data-type="D6">
            </c:if>

          </span>
        </div> -->
      </div>
    </div><!-- <div class="main_list02 mBox1"> -->

  </th:block>
</html>
