@charset "utf-8";






.m_main_icon {
	display:none;
}
.m_main_icon_639 {
	display:block;
	font-size:0;
	width:100%;
	margin-bottom:10px;
}
.m_main_icon_639 li {
	width:20%;
	padding:5px;
	display:inline-block;
	border-right:1px solid #f4f4f4;
	background-color:#FFF;
}
.m_main_icon_639 li a {/*media_480*/
	font-size:14px;
	display:block;
	color:#333;
	text-align:center;
	padding-bottom:10px;
}
.m_main_icon_639 li a img {
	width:50%;
}
.m_main_icon_639 li.bd_right_none {
	border-right:none;
}
.m_main_icon_639 li.bd_top {
	border-top:1px solid #f4f4f4;
}





.m_recommend_list li {
	width:100%;
}
.m_ad_content01 li {
	width:100%;
}
.info_con01 {
	width:100%;
}
.info_content01 {
	display:none;
}
.info_content01.show_639 {
	display:block;
}
.m_list_content01 li {
	width:50%;
}
.block_txt_639 {
	display:block;
}
.con_txt_Type01 br {
	display:none;
}



.m_main_icon_639 li {    
    padding: 0px;
}


.m_top span.top_search {
	position: absolute;
	right: 50px;
	top:12px;
	width:75%;	
	height:43px;	
}

/*c11_01*/
.cart_btn a {
	margin-top:10px;
}

/*c11_06_01*/

.tbl_Type03 .icon {
	display: block;
	margin : 10px 0;
}


/* .title_Type03 {
	font-size: 19px;
	letter-spacing: -2px;	
} */


/*c13_01_04*/
.c13_01_04_img_01 {
	margin-left: 2%;
}